/* src/ChatWidget.css */

.chat-box {
  background-color: white;
  border: 1px solid #ccc;
  width: 300px;
  height: 400px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  /* Adding shadow for better visibility */
  position: relative;
  border-radius: 16px;
  /* This ensures correct positioning inside the widget */
}

.chat-widget {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
}

.chat-messages {
  flex-grow: 1;
  overflow-y: auto;
  padding: 10px;
}

.chat-messages {
  flex-grow: 1;
  overflow-y: auto;
  padding: 10px;
  margin: 5px 0;
  border-radius: 16px;
  display: flex;
  word-wrap: break-word;
  /* Use flex layout */
  flex-direction: column;
  /* Stack messages vertically */
}

.chat-message.user {
  padding: 7px;
  border: 2px solid gainsboro;
  border-radius: 15px;
  background-color: #3498db;
  color: white;
  text-align: right;
  align-self: flex-end;
  margin-bottom: 10px;
  /* Aligns user messages to the right */
}

.chat-message.bot {
  background-color: #ecf0f1;
  color: black;
  text-align: left;
  align-self: flex-start;
  padding: 7px;
  border: 2px solid gainsboro;
  border-radius: 15px;
  margin-bottom: 10px;
  /* Aligns bot messages to the left */
}

.chat-toggle-btn {
  padding: 7px;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.chat-input-container {
  display: flex;
  align-items: center;
  border-radius: 16px;
  overflow: hidden;
  margin: 4px;
}

.chat-input-container input {
  flex-grow: 1;
  padding: 10px;
  border: none;
  outline: none;
  background-color: aliceblue;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.send-btn {
  background: #3498db;
  border: none;
  cursor: pointer;
  padding: 10px;
  color: white;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 53px;
}

.send-btn:hover {
  background: #2874a6;
}